# Configuración de PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=data_engineering
DB_USER=postgres
DB_PASSWORD=root

# Configuración de rutas
DATA_DIR=./data
LOG_LEVEL=INFO

# Configuración de CSV
CSV_ENCODING=latin1
